<!doctype html>
{% load static %}
<html>
<head>        
    <title>Django</title>
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}" />    
</head>
<body>
    <div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="/">USE! ChatGPT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/chatgpt/">단발성 질문, 답변 페이지</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">Django</h1>
            <h2 class="my-4">문승현(a051271)</h2>
            <ol class="list-group">
                <li class="list-group-item">
                    <input type="text" id="name-input" placeholder="Enter your name">
                    <button id="submit-button">질문하러 가기!</button>
                
                    <script>
                        document.getElementById('submit-button').addEventListener('click', function() {
                            var name = document.getElementById('name-input').value;
                            if (name) {
                                window.location.href = '/selfchatgpt/?name=' + encodeURIComponent(name);
                            } else {
                                alert('Please enter your name');
                            }
                        });
                    </script>
                </li>
            </ol>
            <h2 class="mt-5">Django</h2>
            <p class="lead">
                <a href="https://www.djangoproject.com/" target="_blank" class="btn btn-primary">Django</a>는 Python으로 작성된 오픈 소스 웹 프레임워크로, 빠르고 쉬운 웹 개발을 가능하게 합니다.
            </p>
        </div>
    </div>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
